#list-item{
    background-color: brown;
    color: black;
    text-align: center;
    font-weight: bold;
    border: 3px solid burlywood;
    width: 60%;
    margin: auto;
    text-decoration: none;
}